// Primary Colors
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(32, 37%, 92%);

// Secundary Colors
$dark-blue: hsl(212, 21%, 14%);
$grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

// Typography
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Fraunces', sans-serif;

// Font Sizes
$sm-size: 1.4rem;
$md-size: 1.6rem;
$lg-size: 3.5rem;

// Font Weight
$semi-bold: 500;
$bold: 700;

// General Resets
* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	display: grid;
	place-content: center;
	width: 100%;
	height: 100vh;
	margin: 0;
	background-color: #eee;
}

// Flexbox Factory
@mixin flexbox($direction, $justify: null, $align: null, $gap: null) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align	;
	gap: $gap;
}

// Breakpoints
@media screen and (max-width: 541px) {
	body {
		height: auto;
		padding: 50px 10px;
	}
}